;:root{

--cor-de-fundo;

:







h1{
    background-color: width: ;
}

.cabecalho__menu-hambuegue{
width: 24px;
height: 24px;
display:inline-block; /*habilidade a manipulação de tamanho*/
background-image: url("..img/menu.svg");


}



>>>>>>> 408c9c28e85952fac96a135316e64d3cb3a059f6 (*alteração da entrada*)